#navbar{
    overflow: hidden;
}
nav{
    font-size: 22pt;
    padding: 16px;
}
.stickybar{
    position:fixed;
    top: 0;
    width: 100%;
}
.txtfiller{
    padding-top: 32px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
  
.button {
    background-color: darkgreen;
    border: none;
    color: white;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
  }
.home{
    background-image: url('Images/mine.jpg') ;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}
h1{
    color: bisque;
    font-family: Garamond, serif;
    font-size: 42pt;
}
p{
    color: cornsilk;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 26pt;
}
li{
    color:cornsilk;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24pt;
}
a{
    color: cyan;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24pt;
}
img{
    image-rendering: auto;
    margin-left: 10pt;
}
h2{
    color: bisque;
    font-family: Garamond, serif;
    font-size: 36pt;
}
.abyssback{
    background-image: url('Images/abyss.jpg') ;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}
.paddingfoot{
    padding-bottom: 30px;
}